.cart-container
{
    margin-top: 100px;
    margin-left: 20px;
   
}
.cart-items-title
{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: black;
    font-size: 24px;
    padding-left: 25px;
    margin-top: 30px;
 


}
.cart-item{
    display: grid;
    height: 90px;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    background-color: white;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top:50px ;
    border: 2px solid tomato;
 
}
.cart-item img{
 
    width: 100px;
    height: 50px;
 

}
.cart-item button
{
    width: 70px;
    height: 40px;
    border-radius: 5px;
    background-color:rgb(245, 46, 10) ;
    border: none;
    font-weight: 500;
    font-size: 17px;
  
}

.quantity-controls {
    display: flex;
    align-items: center;
  }
  
  .quantity-controls button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
    margin: 0 5px;
  }
  
  .quantity-controls span {
    margin: 0 10px;
  }
  
  button {
    cursor: pointer;
  }


  .cart-total h2
  {
    position: relative;
    margin-left:700px;
     
  }



  @media screen and (max-width: 480px) {
    .cart-container {
      margin-top: 100px;
      margin-left: 10px;
    }
    
    .cart-items-title {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      color: black;
      font-size: 18px;
      padding-left: 10px;
      margin-top: 20px;
    }
    
    .cart-item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      background-color: white;
      margin-bottom: 30px;
      height: 150px;
      padding-left: 10px;
      width: 370px;
      font-weight: 500;
      font-size: 17px;

      
    }
    
    .cart-item img {
      width: 80px;
      height: 40px;
    }
    
    .cart-item button {
      width: 63px;
      border-radius:5px;
       background-color: tomato;
    }
    
    .quantity-controls span {
      margin: 0 5px;
    }
    
    .cart-total h2 {
      margin-left: 10px;
    }
  }
  

  .check-btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }
  